* {
    font-family: Georgia;
}

.quiz {
    display: flex;
    align-items: center;
    flex-direction: column;

    
   
}

button {
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 20px;
    color: #fff;
    background-color:#8860d0;
}
#username{
    margin: 15px;
    border-radius: 30px;
    font-size: 18px;
}
.container {
    flex-direction: column;
    margin: 50px;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    background-color: #ff8f8f;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), 0 2rem 3rem rgba(0,0,0,.1);
}

div.container>p{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.quiz-questions {
    margin: 50px;
    display: flex;
    flex-direction: column;
    background-color: #ff8f8f;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), 0 2rem 3rem rgba(0,0,0,.1);
}

.checkbox {
    display: flex;
    flex-direction: column;
}

.name-of-checkbox {
    display: inherit;
    margin: 18px;
}

.content {
    margin: 0;
    font-size: 20px;
    color: #8860d0;
    font-weight: bold;
}

.back-button {
    float: left;
}

.buttons {
    display: inline;
}

.next-button,
.retake-button {
    float: right;
}

.finish-button {
    display: none;
    float: right;
}

.question {
    text-align: end;
}

div.question>h4 {
    color: #fff;
    font-style: italic;
    margin-bottom: 15px
}

h5 {
    font-size: 25px;
    color: #8860d0;
}

.finished-container {
    flex-direction: column;
    background-color: #ff8f8f;
    margin: 40px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), 0 2rem 3rem rgba(0,0,0,.1);
}

.score-num {
    text-align: end;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

div.answers>p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}